*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
}




/********Boostrap******/


/****Navegador****//
.navbar-nav > a{
    color: white;
} 

.navbar-nav > a{
    color: white;

}

.nav-link{
   background-color: black;
   font-size: 23px;
   border-radius: 5px;
   margin-left: 50px;
   padding: 5px;
}

.nav-link:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}

.link-redes > a > img{
    width: 50px;
    height: 50px;
    margin: 10px;
    
} 

.nav_img{
    justify-content: ;
}

.nav_img > a > img{
    height: 45px;
    margin: 5px;
}








/*******cierra navegador******/


.producto{
    padding: 25px;
    margin-bottom: 10px;
}

.producto-img > img{
    height: 250px;
    margin: 7px;
}

.producto > a{
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.producto-titulo{
    height: 35px;
    padding: 0;
}

.bss_prod_titulo > h1{
    font-size: 50px;
    margin-bottom: 60px;
    margin-top: 40px;
}
.cressi_logo > img{
    margin-top: 50px;
}


@media screen and (min-width:992px) {
    .bs_footer{ 
        align-items: center;
}
    .bs_footer_redes{
        justify-content: end;
    }

  
 }


@media screen and (max-width: 992px) {
    .bs_footer{
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .bs_footer_copy{
        margin: 12px;
    }
    .bs_footer_redes{
        justify-content: center;
        margin-bottom: 15px;
    }
    .producto > a{
        width: 150px;
    }


        }
@media screen and (max-width: 1200px){
    .nav-link{
        font-size: 20px;
        margin-left: 30px;
    }
    .link-redes > a > img{
        width: 35px;
        height: 35px;
        margin: 7px;     
    } 
    .bs_footer_copy > h5{
        font-size: 17px;
    }
        }
/*********Boostrap page viajes********/
.tarjetas_viajes{
    margin: 40px;
    margin-top: 0px;
}


/******Boostrap page index*****/

.card-body > a{
    text-decoration: none;
}

.productos2__img{
    width: 345px;
    margin-top: 40px;
    margin: 50px;
    border-radius: 10px;
    text-decoration: none;
}

.productos2__img > a{
    text-decoration: none;
} 




.image-container  {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;

}

.image-container > img {
    height: 277px;
    max-width: 100%;
    overflow: hidden;
    padding: 10px;
}



.links-viajes-galeria > a {
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    width: 150px;
    text-align: center;
    margin-bottom: 50px;
    background-color: #0d6efd;
}


.hide {
  display: none;
}


/********Page contacto********/

.formulario_contacto{
    height: 100%;
    margin-top: 45px;
    border-radius: 7px;
}
.formulario_derecha{
    height: 526px;
}

.formulario_izquierda{
    height: 500px;
}

.formulario_derecha > iframe{
    height: 100%;
    width: 90%;
    border-radius: 7px;
}

@media screen and (max-width: 768px){
    .formulario_derecha > iframe{
        height: 100%;
        width: 100%;
        border-radius: 7px;
    }
    .formulario_contacto{
        height: 100%;
        margin-top: 45px;
        border-radius: 7px;
        justify-content: center;
    }

}



/********Page Cursos**********/


@media screen and (max-width: 768px){
    .padi{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .titulo_padi{
        font-size: 24px;
        text-align: center;
        margin-top: 25px;
    }
    .texto_padi{
        font-size: 17px;
        margin-top: 25px;
    }


}



@media screen and (min-width:992px) {
    .padi{
        display: flex;
        justify-content: center;

    }

    .cursos__links > a > img{
        height: 450px;
     }
     .cursos__links{
        width: 450px;
         }
    
  
 }



 .cursos__links{
    margin: 30px;
    padding: 0px;
    background-color: black;
    border-radius: 7px;
    color: white;

 }

 .cursos__links > a{
    text-decoration: none;
 
 }


 .cursos__links > a > h3{
    margin: 10px
 }

 .cursos__links > p{
    margin-left: 10px;
 }

