*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
}


/* .login > a{
    width: 50px;
    height: 50px;
}

.login{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 60px;
    width: 250px;
    padding: 20px;
}

.login > a > img{
    height: 50px;
    width: 50px;
}

.login__carro{
    margin-left: 20px;
} */

/* Main Slider*/



/*Main productos*/

/* .main__productos{
    display: flex;
    justify-content: center;
    text-align: center;
    font: bold;
}
.productos__img{
    margin: 100px;
}

.productos__img > a > img{
    width: 250px;
    height: 250px;
    border: solid 2px black;    
    border-radius: 5px;
}   
  
.productos__img > a > h3{
    color: black;
    margin: 10px;
}


.main__productos2{
    display: flex;
    justify-content:space-evenly;
}


.productos2__img{
    width: 400px;
    margin: 40px;
    

}




.productos2__img > a > img{
   width: 400px;
    border: solid 2px black;
    margin-bottom: 10px;
}

.productos2__img > a > h3{
    font: 48px;
    color: black;
    margin-bottom: 10px;

}





/**********************Pagina Viajes************************/
/* 
.viajes__titulo{
    text-align: center;
    margin: 60px;
    font-size: 25px;
}

.img__viajes{
    display: flex;
    justify-content: center;
}

.proxViajes__img{
    margin: 40px;
}

.proxViajes__img > a > h3{
    font: bold;
    color: black;
    margin: 15px 15px 15px 0px;
    font-size: 30px;
    text-align: center;
}

.proxViajes__img > a > img{
    height: 415px;
    width: 415px;
    border: solid 2px black;
}

.titulo__experiencia > h2{
    text-align: center;
    margin: 60px;
    font-size: 35px;

} 

.viajes__img{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.viajes__img > a{
    margin: 10px;
}


.viajes__img > a > img{
    width: 250px;
    border: solid 2px black;
}


.viajes__img > a > h3{
    color: black;
    text-align: center;
    font-style: bold;
    margin: 10px;
} */

/***********************Pagina Cursos********************************************/
/* 
.cursos__titulo{
    text-align: center;
    font-size: 20px;
    margin: 30px;
    color: black;
}

.cursos__texto{
    display: flex;
    margin: 60px;
    justify-content: center;
}

.cursos__padi{
    height: 200px;
    width: 600px;

}

.cursos__padilogo > img{
    height: 200px;
}

.cursos__cursospadi{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.cursos__links{
    margin: 40px;
}

.cursos__links > a > h3{
    margin-top: 15px;
}

.cursos__links > p{
    width: 400px;
    margin-top: 15px;
}



.cursos__links > a > img{
    width: 400px;
}


.cressi__encabezado{
    display: flex;
    justify-content: center;
}

.cressi__titulo{
    text-align: center;
    margin: 40px;
    width: 500px;
}

.cressi__titulo > img{
    margin: 20px;

}

.cressi__titulo > p{
    text-align: left;
}

.cressi__productos{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}
.productos__secciones > a > img{
    width: 250px;
    height: 250px;
    border: solid 1px black;
    margin-bottom: 10px;

}

.productos__secciones > a >h3{
    text-align: center;
    color: black;
    margin-bottom: 20px;
} */

/********************Pagina Contactos**************************/
/* 
.contactos__titulo{
    text-align: center;
    margin: 40px;
}

.formulario__contacto{
    display: flex;
    justify-content: center;
}
.formulario__contacto > ul >li > input{
    margin: 10px;
    width: 300px;
    border: solid 1px black;
}

.formulario__contacto > ul >li > textarea{
    margin: 10px;
    width: 300px;
    height: 200px;
    border: solid 1px black;
}

.cuadros__de__texto{
    margin: 40px;

}

.boton{
    margin: 10px;
}

.boton{
    display: flex;
    justify-content: center;
}

.boton > input{
    width: 300px;
    border: solid 2px black;
}



.redes__ubi{
    display: flex;
    justify-content:space-evenly;
    margin: 60px;
}

.redes > h3{
    text-align: center;
    margin: 20px;
    font-size: 27px;

}

.mapa > h3{
    text-align: center;  
    margin: 20px;  
    font-size: 27px;
}


.redes__img{

    align-content: center;
}



.redes__img > a > img{
    width: 75px;
    margin: 60px 15px 15px 15px;
}
 */ 


/********Boostrap******/


/****Navegador****//
.navbar-nav > a{
    color: white;
} 

.navbar-nav > a{
    color: white;

}

.nav-link{
   background-color: black;
   font-size: 23px;
   border-radius: 5px;
   margin-left: 50px;
   padding: 5px;
}

.nav-link:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}

.link-redes > a > img{
    width: 50px;
    height: 50px;
    margin: 10px;
    
} 

/*******cierra navegador******/


.producto{
    padding: 25px;
    margin-bottom: 10px;
}

.producto-img > img{
    height: 150px;
    margin: 5px;
}

.producto > a{
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.producto-titulo{
    height: 35px;
    padding: 0;
}

.bss_prod_titulo > h1{
    font-size: 50px;
    margin-bottom: 60px;
    margin-top: 40px;
}
.cressi_logo > img{
    margin-top: 50px;
}


@media screen and (min-width:992px) {
    .bs_footer{ 
        align-items: center;
}
    .bs_footer_redes{
        justify-content: end;
    }
 }
@media screen and (max-width: 992px) {
    .bs_footer{
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .bs_footer_copy{
        margin: 12px;
    }
    .bs_footer_redes{
        justify-content: center;
        margin-bottom: 15px;
    }
    .producto > a{
        width: 150px;
    }
        }
@media screen and (max-width: 1200px){
    .nav-link{
        font-size: 20px;
        margin-left: 30px;
    }
    .link-redes > a > img{
        width: 35px;
        height: 35px;
        margin: 7px;     
    } 
    .bs_footer_copy > h5{
        font-size: 17px;
    }
        }
/*********Boostrap page viajes********/
.tarjetas_viajes{
    margin: 40px;
    margin-top: 0px;
}



/******Boostrap page index*****/

.card-body > a{
    text-decoration: none;
}

.productos2__img{
    width: 345px;
    margin-top: 40px;
    margin: 50px;
    border-radius: 10px;
    text-decoration: none;
}

.productos2__img > a{
    text-decoration: none;
} 