/******Index*****/

.card-body > a{
    text-decoration: none;
}

.productos2__img{
    margin-top: 40px;
    margin: 50px;
    border-radius: 10px;
    text-decoration: none;
    > a{
        text-decoration: none;
        > img{
            width: 100%;
        }
        > h3{
            margin: 16px;    
        }    
    }
    > p{
        margin: 16px;
        margin-top: 0px;
    }
    }



